body{
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
  color: #f1cfda;
}

.head {
    background-color: #f1cfda;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.head-info{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.8rem; 
}

.head-logo{
  margin-right: 60px;
  animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
  0% { transform: scale(1); } /* Escala normal */
  50% { transform: scale(1.1); } /* Escala aumentada */
  100% { transform: scale(1); } /* Vuelve a la escala normal */
}

.head-about{
  line-height: 40px;
  margin-bottom: 20px;
}

/** Enlaces **/
.enlaces{
  display: flex;
  animation: bounce-in 0.5s;
  max-width: 500px;
  justify-content: space-around;
}

.enlaces a{
  transition: transform 0.3s;
}

.enlaces a:hover{
  transform: scale(1.2);
}

.enlaces-img{
  width: 120%;
}

/** Skills **/

.skills {
  background-color: #f1cfda;
  /* background-image: url(/assets/img/wave2.svg);*/
  background-position: bottom;
  background-repeat: no-repeat;
}

.tittle-sh{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  color: #d8b2e1;
  margin-bottom: 3rem;
}

.sh-img{
  display: flex;
  justify-content: center;
  animation: bounce-in 0.5s;
}

.sh-img img{
  max-height: 140px;
  transition: transform 0.3s;
}

.sh-img img:hover{
  transform: scale(1.2);
}

/** Studies **/

.studies{
  background-color: #d8b2e1;
  min-height: 500px;
  color: #fff;
  padding-bottom: 120px;
}

.studies h1{
  color: #fff;
}

.studies::after{
  display: block;
}

.studies::before{
  content: url(/assets/img/wave3.svg) ;
}

/** .studies::after{
  content: url(/assets/img/wave2.svg) ;
  margin-bottom: -4px;
} **/

.studies *{
  border-image-width: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.eduaction{
  white-space: nowrap;
}

.st-img{
  display: inline-block; /* Coloca los elementos uno al lado del otro */
  margin: 10px; /* Ajusta el margen entre cada contenedor */
  height: 286px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: bounce-in 0.5s;
}

.st-text h2{
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
}

.st-text h3{
  font-size: 16px;
  font-weight: 500;
}

.st-img img{
  width: 300px;
  transition: transform 0.3s;
  border-radius: 5%;
}

.st-img img:hover{
  transform: scale(1.1);
}

.st-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

/** Professional experience **/
.professional-exp{
  background-color: #f1cfda;
  min-height: 500px;
  color: #fff;
  padding: 90px 90px;
}

.professional-exp h1{
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  color: #d8b2e1;
  margin-bottom: 3rem;
}

.color{
  color: #f5f5f5;
}

/** Projects **/

.projects{
  background-color: #f1f1f2;
  min-height: 500px;
  color: #1d1d1d;
  padding: 90px 90px;

}

.projects h1{
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  color: #d8b2e1;
  margin-bottom: 3rem;
}

.projects-container{
  align-items: center;
  display: flex;
  width: 1136px;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-img{
  display: flex;
  gap: 16px;
  align-items: center;
}

.project-img img{
  width: 752px;
  height: auto;
  padding-bottom: 1rem;
  border-radius: 1rem;
  transition: transform 0.3s;
 }

 .project-img img:hover{
  transform: scale(1.1);
}

 .projects-text{
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
 }

/** Footer **/

.footer{
  background-color: #f1f1f2;
}

.svg-container{
  position: relative;
  width: 100%; 
  height: auto;
}

.footer-svg{
  transform: rotate(180deg); 
  max-width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.text-above-svg {
  font-size: 15px;
}

.a{
  align-items: center;
}
